* {
    -fx-primary-red: #F23022;
    -fx-secondary-red: #FF4A3C;
    -fx-primary-blue: #003366;
    -fx-secondary-blue: #1A4D80;
    -fx-primary-background: #a7a9ac;
    -fx-secondary-background: #caced1;
}